.height10 {
    height: 10px;
}

.height20 {
    height: 20px;
}

.height30 {
    height: 30px;
}

.height40 {
    height: 40px;
}

.height50 {
    height: 50px;
}

.height75 {
    height: 75px;
}

.height100 {
    height: 100px;
}

.height125 {
    height: 125px;
}

.height150 {
    height: 150px;
}

.height200 {
    height: 200px;
}

.width10 {
    width: 10px;
}

.width20 {
    width: 20px;
}

.width30 {
    width: 30px;
}

.width40 {
    width: 40px;
}

.width50 {
    width: 50px;
}

.width75 {
    width: 75px;
}

.width100 {
    width: 100px;
}

.width125 {
    width: 125px;
}

.width150 {
    width: 150px;
}

.width200 {
    width: 200px;
}